<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
        
        <!-- Version 4.3.2 -->
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/foundation/4.3.2/css/foundation.css">
        
        <!-- put in font awesome -->
       <!--  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->
        
        <!-- put in google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Michroma|Maven+Pro' rel='stylesheet' type='text/css'>
        
        <link href='style.css' rel='stylesheet' type='text/css'>
        <style type="text/css">

              /*This is used to see help see your 12 column grid*/
              /** {
              border: 1px solid red;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              }*/
              /* You will put the rest of the styles here */
        </style>
    </head>
    <body>
      <div class="row">
        <div class="large-1 columns"></div>
        <div class="large-7 columns">
          <h2>Sign up</h2>

          <%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
            <%= devise_error_messages! %>

            <div><%= f.label :first_name %><br />
            <%= f.text_field :first_name, :autofocus => true %></div>

            <div><%= f.label :last_name %><br />
            <%= f.text_field :last_name%></div>

            <div><%= f.label :start_weight %><br />
            <%= f.number_field :start_weight%></div>

             <div><%= f.label :goal_weight %><br />
            <%= f.number_field :goal_weight%></div>

            <div><%= f.label :about %><br />
            <%= f.text_field :about%></div>

            <div><%= f.label :user_image %><br />
            <%= f.file_field :user_image %></div>

            <div><%= f.label :email %><br />
            <%= f.email_field :email%></div>

            <div><%= f.label :password %><br />
            <%= f.password_field :password %></div>

            <div><%= f.label :password_confirmation %><br />
            <%= f.password_field :password_confirmation %></div>

            <div><%= f.submit "Sign up" %></div>
          <% end %>

          <%= render "devise/shared/links" %>
        </div>
          
        <div class="large-1 columns"></div>
    </body>
  </html>
