<!DOCTYPE html>
  <html lang="en">
    <head>
      <meta charset="UTF-8">
        
        <!-- Version 4.3.2 -->
        <link rel="stylesheet" href="http://cdn.jsdelivr.net/foundation/4.3.2/css/foundation.css">
        
        <!-- put in font awesome -->
       <!--  <link href="http://netdna.bootstrapcdn.com/font-awesome/4.0.3/css/font-awesome.css" rel="stylesheet"> -->
        
        <!-- put in google fonts -->
        <link href='http://fonts.googleapis.com/css?family=Michroma|Maven+Pro' rel='stylesheet' type='text/css'>
        
        <link href='style.css' rel='stylesheet' type='text/css'>
        <style type="text/css">

              /*This is used to see help see your 12 column grid*/
              /** {
              border: 1px solid red;
              -moz-box-sizing: border-box;
              -webkit-box-sizing: border-box;
              box-sizing: border-box;
              }*/
              /* You will put the rest of the styles here */
        </style>
    </head>
    <body>
    <div class="row">
      <div class="large-9 columns">
        <h2><%= @user.first_name%> <%= @user.last_name %> </h2>
      </div>
    </div>
    <div class="row">
    
      <div class="large-5 columns">
        <h5><font color="#ff6933">ABOUT: </font color><%= @user.about %> </h5>
        
        <h5><font color="#ff6933">START WEIGHT: </font color><%= @user.start_weight %> pounds </h5>
        
        <h5><font color="#ff6933">GOAL WEIGHT: </font color><%= @user.goal_weight %> pounds </h5>
        
          <p><div id="img"><%= image_tag @user.user_image.url(:medium)  %></div></p>
          <br>
        <h6> <%= link_to 'Post New Weight', users_weighin_path %> </h6>
      </div>
      <div class="large-1 columns"></div>
      <div class="large-6 columns">
        <h5><font color="#ff6933">MY WEIGHT UPDATES: </font color></h5>
           <% @user.weighins.each do |weighin| %>
            <h5><%= weighin.created_at.strftime("%m/%d/%Y")%></h5>
            <p>&nbsp &nbsp <font color= "#5128A4"><em> <%= weighin.todays_weight %> pounds</em></font color></p>
            <p>&nbsp &nbsp <%= weighin.comments %></p>
            <p>&nbsp &nbsp <%= image_tag weighin.weigh_image.url(:thumb) %></p>
          
            <p> &nbsp &nbsp Post comment</p>
            <br>


             
            
          <%end%>
      </div>
    </div>
  </body>
</html>