<!DOCTYPE html>
<html>
<head>
  <title>Weightable</title>
  <%= stylesheet_link_tag    "application", media: "all", "data-turbolinks-track" => true %>
  <%= javascript_include_tag "application", "data-turbolinks-track" => true %>
  <%= csrf_meta_tags %>
</head>
<body>
  <p class="notice"><%= notice %></p>
  <p class="alert"><%= alert %></p>


<nav class="top-bar">
  <ul class="title-area">
    <li class="name">
      <h1>
        <%= link_to 'Home', root_url %>
      </h1>
    </li>
    <li class="toggle-topbar menu-icon">
      <a href="#">
        <span>Menu</span>
      </a>
    </li>
  </ul>
  <section class="top-bar-section">
    <ul class="right">
      <% if user_signed_in? %>
        <li>
          <%= link_to 'My Account', user_path(current_user.id) %>
        </li>
        <li>
          <%= link_to 'Edit Profile', edit_user_registration_path %>
        </li>
        <li>
          <%= link_to 'Sign out', destroy_user_session_path, method: :delete %>
        </li>
      <% else %>
        <li>
          <%= link_to "Sign up", new_user_registration_path %>
        </li>
        <li>
          <%= link_to "Sign in", new_user_session_path %>
        </li>
      <% end %>
    </ul>
  </section>
</nav>










<%= yield %>

</body>
</html>
